extends layout

block content
  .input-div
    input.hashtag-search(type="search", placeholder="Search Hashtags for your Stadium")
  div
    button.btn.btn-primary.toggle-graph(data-current="graph") Show Chart
  #masonry-container.collage
  #holder
