@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  background-size: cover;
  background-position: center;
  background-repeat: none;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}


.logo span {
  -webkit-animation-name: flash-letter;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3.2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: none;
  opacity: 0.7;
  color: #111;
  font-size: 20px;
  font-weigh: bolder;
  letter-spacing: 0.2em;
}

.item span,.item div {
  text-overflow: hidden;
  whitespace: nowrap;
}

@-webkit-keyframes flash-letter{
  0% { opacity: 0.5 }
  30% { opacity: 0.8 }
  40% { opacity: 0.35 }
  100% { opacity: 0.5 }
}

span.a-first {
  -webkit-animation-delay: 0;
}
span.p-first {
  -webkit-animation-delay: 100ms;
}
span.s {
  -webkit-animation-delay: 200ms;
}
span.l {
  -webkit-animation-delay: 300ms;
}
span.a-second {
  -webkit-animation-delay: 400ms;
}
span.b {
  -webkit-animation-delay: 500ms;
}
span.s-second {
  -webkit-animation-delay: 600ms;
}

.item {
  width: 320px;
  box-shadow: 1px 1px 1px #888;
  margin: 10px;
}

.item span {
  padding: 10px 5px;
}

.item div {
  padding: 10px 5px;
}

.input-div {
  width: 80%;
}

.hashtag-search {
  outline: none;
  border: 1px solid #d9d9d9;
  padding: 8px;
  padding-left: 15px;
  margin: 30px 0;
  width: 50%;
  position: relative;
  left: 30%;
  font-size: 16px;
}

.hashtag-search:focus {
  border: 1px solid #4d90fe;
}

button.ticket-button {
  background: none;
  border: none;
}

.ticket-header {
  font-size: 20px;
  font-weight: bold;
}
table {
  margin-top: 20px;
}
table tr th, td {
  width: 150px;
}

.twitter-icon {
  position: relative;
  float: right;
  color: #4d90fe;
}

#holder {
  display: none;
}

#holder svg {
  left: 15%;
}

.toggle-graph {
  margin-left: 85%;
}

